<div id="comp-group">
    <h4>Core skills</h4>
    <ul>
        <li> Javascript (ES 2016),&nbsp;&nbsp;&nbsp;, React.js, &nbsp;&nbsp;&nbsp;node.js, &nbsp;&nbsp;&nbsp; CSS3 &nbsp;&nbsp;&nbsp;, HTML </li>
    </ul>
    <h4>Other and minor skills, languages with some experience</h4>
    <ul>
        <li><strong>Template and Styles:</strong>&nbsp;&nbsp;&nbsp;Handlebars,&nbsp;&nbsp;&nbsp; Sass,&nbsp;&nbsp;&nbsp;LESS,&nbsp;&nbsp;&nbsp;Twitter Bootstrap,&nbsp;&nbsp;&nbsp;Jade</li>
        <li><strong>Other Languages:</strong>&nbsp;&nbsp;&nbsp; Python, &nbsp;&nbsp;&nbsp;Ruby, &nbsp;&nbsp;&nbsp; C#, &nbsp;&nbsp;&nbsp;Java</li>
        <li><strong>Frameworks and tooling:</strong>&nbsp;&nbsp;&nbsp;Angular1js,&nbsp;&nbsp;&nbsp; Jquery,&nbsp;&nbsp;&nbsp;Reactjs, &nbsp;&nbsp;&nbsp; Redux</li>
        <li><strong>Other javascript features</strong>&nbsp;&nbsp;&nbsp;CanvasContext object,&nbsp;&nbsp;&nbsp;AudioContext object,&nbsp;&nbsp;&nbsp;D3.js SVG data visualization</li>
        <li><strong>Database:</strong>&nbsp;&nbsp;&nbsp;MongoDB,&nbsp;&nbsp;&nbsp; Mongoose ODM,&nbsp;&nbsp;&nbsp; Microsoft SQL Express, &nbsp;&nbsp;&nbsp; Entity Framework ORM</li>
        <li><strong>Image Processing:</strong>&nbsp;&nbsp;&nbsp;Photoshop, &nbsp;&nbsp;&nbsp; Gimp, &nbsp;&nbsp;&nbsp; Paint.net </li>
        <li><strong>Other Dev Tools:</strong>&nbsp;&nbsp;&nbsp;Grunt, &nbsp;&nbsp;&nbsp; Gulp, &nbsp;&nbsp;&nbsp; Webpack, &nbsp;&nbsp;&nbsp; Git,&nbsp;&nbsp;&nbsp; jsdoc </li>
    </ul>
</div>