

<header class="intro">
  <div class="intro-body">
    <div id="top" class="container">
      <div>
        <h1 class="main-title neon-text-lg super-size">.rambutan studio</h1>
        <br>
        <h2 class="main-title neon-text-md">Joe Grundman</h2>
        <br>
        <h3 class="main-title neon-text-sm">Web Developer</h3>
        <br>
        <br>
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <div class="rambutan"></div>
          </div>
          <div class="col-md-4">
            <h4 class="neon-text-sm logo-text">.rambutan studio</h4>
          </div>
        </div>
      </div>
    </div>
</header>

<!-- Intro End -->