$red-neon: 0 0 30px rgba(255,0,84,0.6),
			0 0 60px rgba(255,0,84,0.4),
			0 0 100px rgba(255,0,84,0.2),
			0 0 90px rgba(255,0,84,0.1);

$red-neon-double: 0 0 30px rgba(255,0,84,0.6),
			0 0 60px rgba(255,0,84,0.4),
			0 0 100px rgba(255,0,84,0.2),
			0 0 90px rgba(255,0,84,0.1),
      inset 0 0 30px rgba(255,0,84,0.6),
      inset 0 0 60px rgba(255,0,84,0.4),
			inset 0 0 100px rgba(255,0,84,0.2),
			inset 0 0 90px rgba(255,0,84,0.1);



$red-neon-double-light: 0 0 10px rgba(255,0,84,0.4),
			0 0 30px rgba(255,0,84,0.2),
			0 0 20px rgba(255,0,84,0.1),
			inset 0 0 10px rgba(255,0,84,0.4),
			inset 0 0 30px rgba(255,0,84,0.2),
			inset 0 0 20px rgba(255,0,84,0.1);

$blue-neon: 0 0 30px rgba(0,195,255,0.6),
			0 0 60px rgba(0,195,255,0.4),
			0 0 100px rgba(0,195,255,0.2),
			0 0 90px rgba(0,195,255,0.1);

$blue-neon-strong: 0 0 30px rgba(0,195,255,0.8),
			0 0 60px rgba(0,195,255,0.6),
			0 0 100px rgba(0,195,255,0.4),
			0 0 90px rgba(0,195,255,0.2);

$blue-neon-stronger: 0 0 30px rgba(0,195,255,1),
			0 0 60px rgba(0,195,255,0.8),
			0 0 100px rgba(0,195,255,0.6),
			0 0 90px rgba(0,195,255,0.4);


$blue-neon-double: 0 0 30px rgba(0,195,255,0.6),
			0 0 60px rgba(0,195,255,0.4),
			0 0 100px rgba(0,195,255,0.2),
			0 0 90px rgba(0,195,255,0.1),
     inset 0 0 30px rgba(0,195,255,0.6),
		 inset 0 0 60px rgba(0,195,255,0.4),
		 inset 0 0 100px rgba(0,195,255,0.2),
		 inset	0 0 90px rgba(0,195,255,0.1);

$blue-neon-double-light: 0 0 10px rgba(0,195,255,0.4),
			0 0 30px rgba(0,195,255,0.2),
			0 0 20px rgba(0,195,255,0.1),
		 inset 0 0 10px rgba(0,195,255,0.4),
		 inset 0 0 30px rgba(0,195,255,0.2),
		 inset	0 0 20px rgba(0,195,255,0.1);

$blue-tube: #dfe6ff;
$blue-tube-off: #445;
$red-tube: #ff9977;
$red-tube-off: #544;
$bg-portfolio-box: #544;


.main-title {
  font-family: "Cabin", Open Sans;
  text-align: center;
}

.super-size {
  font-size: 80px;
}

.neon-text-lg {
  color: $blue-tube-off;
  animation: neonspark-blue 0.5s 1s forwards;
}

.neon-text-md {
  color: $blue-tube-off;
  animation: neonspark-blue 0.5s 2s forwards;
}

.neon-text-sm {
  // text-shadow: $red-neon;
  color: $red-tube-off;
  animation: neonspark-red 0.5s 3s forwards;
}

.neon-box-sm {
  box-shadow: $blue-neon-double;
}

#main-jumbo {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: lightyellow;
}

.btn-neon {
  background-color: black;
  color: $blue-tube;
  margin: 60px;
  padding: 20px;
  font-size: 20px;
  border: 2px solid #dfe6ff;
  border-radius: 10px;
  text-shadow: $blue-neon-strong;  
  &:hover {
    margin: 58px 58px 54px 54px;
    padding: 22px;
    font-size: 22px;
    text-shadow: $blue-neon-stronger;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    transition: 300ms ;
  }
}

.rambutan {
  position: relative;
  border: 4px solid $red-tube-off;
  height: 90px;
  width: 75px;
  border-radius: 43%;
  margin-left: 45px;
  // box-shadow: $red-neon-double
  animation: neonspark-red-double 0.5s 4s forwards;
  &:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 20px;
    border: 4px solid $red-tube-off;
    height: 90px;
    width: 75px;
    border-radius: 43%;
    margin-left: 45px;
    animation: neonspark-red-double 0.5s 4.5s forwards;
    // box-shadow: $red-neon-double;
  }
    &:before {
    content: '';
    position: absolute;
    top: 10px;
    right: -20px;
    border: 4px solid $red-tube-off;
    height: 90px;
    width: 75px;
    border-radius: 43%;
    margin-left: 45px;
    // box-shadow: $red-neon-double;
    animation: neonspark-red-double 0.5s 5s forwards;
  }
}
.logo-text {
  position: absolute;
  top: 65px;
}

.padded-box {
  padding: 80px;
  border: 8px solid $blue-tube;
  border-radius: 20px;
}

p {
  font-size: 18px;
  color: #dfe6ff;
}

.list-group-item {
  background-color: black;
  border: 1px solid #ddd;
  padding-left: 50px;
  color: #ddd;
}

.image-box {
  margin: 10px;
}

.portfolio-box {
  padding:5px;
  border-radius: 8px;
  background-color: $bg-portfolio-box;
  margin: 6px;
  text-align: center;
  font-size: 1.2em;
  transition: all .2s ease-in-out;
  &:hover {
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, .5);
    transform: scale(1.1);
  }
  
}

@keyframes neonspark-blue  {
	0% {
		text-shadow: none;
    color: $blue-tube-off;
	}
	30% {
		text-shadow: 0 0 30px rgba(0,195,255,0.6);
    color: $blue-tube;
	}
	60% {
		text-shadow: 0 0 30px rgba(0,195,255,0.6),
		  0 0 60px rgba(0,195,255,0.4);
    color: $blue-tube;
	}
	80% {
		text-shadow: none;
    color: $blue-tube-off;
	}
	100% {
		text-shadow: 0 0 30px rgba(0,195,255,0.6),
		 0 0 60px rgba(0,195,255,0.4), 
		 0 0 100px rgba(0,195,255,0.2), 
		 0 0 90px rgba(0,195,255,0.1);
    color: white;
	}
}

@keyframes neonspark-red  {
	0% {
		text-shadow: none;
    color: $red-tube-off;
	}
	30% {
		text-shadow: 0 0 30px rgba(255,0,84,0.6);
    color: $red-tube;
	}
	60% {
		text-shadow: 0 0 30px rgba(255,0,84,0.6),
		  0 0 60px rgba(255,0,84,0.4);
    color: $red-tube;
	}
	80% {
		text-shadow: none;
    color: $red-tube-off;
	}
	100% {
		text-shadow: 0 0 30px rgba(255,0,84,0.6),
			0 0 60px rgba(255,0,84,0.4),
			0 0 100px rgba(255,0,84,0.2),
			0 0 90px rgba(255,0,84,0.1);
    color: white;
	}
}

@keyframes neonspark-red-double  {
	0% {
		box-shadow: none;
    border: 4px solid $red-tube-off;
	}
	30% {
		box-shadow: 0 0 20px rgba(255,0,84,0.6), inset 0 0 20px rgba(255,0,84,0.6);
    border: 4px solid $red-tube;
	}
	60% {
		box-shadow: 0 0 20px rgba(255,0,84,0.6),
		  0 0 40px rgba(255,0,84,0.4), inset 0 0 20px rgba(255,0,84,0.6), inset 0 0 40px rgba(255,0,84,0.4);
    border: 4px solid $red-tube;
	}
	80% {
		box-shadow: none;
    border: 4px solid $red-tube-off;
	}
	100% {
		box-shadow: 0 0 15px rgba(255,0,84,0.6),
			0 0 30px rgba(255,0,84,0.4),
			0 0 60px rgba(255,0,84,0.2),
			0 0 45px rgba(255,0,84,0.1), 
      inset 0 0 15px rgba(255,0,84,0.6),
			inset 0 0 30px rgba(255,0,84,0.4),
			inset 0 0 60px rgba(255,0,84,0.2),
			inset 0 0 45px rgba(255,0,84,0.1);
      border: 4px solid white;
	}
}


.latest-post-container {
  background-color: $bg-portfolio-box;
  border-radius: 15px;
  #view-more {
   font-size: 2em;
   padding: 1em;
   margin-top: 1em;
   border: 2px solid #ccc;
   border-radius: 5px;
   background-color: #666;
   box-shadow: 1px 1px 2px 3px rgba(0,0,0,.2);
   transition: 300ms ease-in-out;
   
   &:hover {
     background-color: #ddd;
   }
  }
  
}

.contact-page {
  font-family: sans-serif !important;
}

.email-form {
  background-color: lighten($primary-color, 10%);
  border: 2px solid #233;
  color: white;
}

#comp-group {
  ul {
    list-style: none;
    li {
      font-family: Cabin, sans-serif;
      font-size: 18px;
      //height: 28px;
      background-color: $bg-portfolio-box;
      border-left: 5px solid #333;
      border-right: 5px solid #333;
      padding: 10px;
      margin: 2px;
      text-decoration: none;
      transition: 200ms ease-in-out;
      &:hover {
          -webkit-transform:rotate(-5deg);
          -webkit-box-shadow:10px 10px 20px #000000;
          transform:rotate(-5deg); 
          box-shadow:10px 10px 20px #000000; 
      
      }
    }
  }
}